In [1]:
import pandas as pd

FILENAME = 'metrics_comparison_test.csv'


def print_df(df):
    # 'display.max_rows', None,
    with pd.option_context('display.max_columns', None, 'display.expand_frame_repr', False):
        print(df)


def get_metrics_df(filename):
    df = pd.read_csv(
        filename,
        sep=';',
        header=1,
        # index_col=0,
    )
    df.rename(columns={'Unnamed: 0': 'metrics'}, inplace=True)
    df.drop(columns=['optimal', 'miserable'], inplace=True)
    df.drop(index=df[df.metrics == 'SMAPE'].index, inplace=True)
    return df


df = get_metrics_df(FILENAME)
print_df(df)

        metrics   hgbr linreg     nn     gp   mvnn  qhgbr     qr cp_hgbr cp_linreg  cp_nn  la_nn
0           MAE  137,0  212,3  152,5  135,7  153,0  146,0  144,5   137,0     212,3  152,5  152,5
1          RMSE  182,2  283,4  197,2  179,5  197,5  193,4  188,0   182,2     283,4  197,2  197,2
3  SMAPE (x100)   1,07   1,68   1,19   1,04   1,20   1,13   1,12    1,07      1,68   1,19   1,19
4          CRPS    NaN    NaN    NaN   96,3  111,2   95,1  103,5    99,2     152,8  108,4  108,2
5           NLL    NaN    NaN    NaN   6,60   6,97   6,66   6,69    6,68      7,07   6,71   6,70
6       PINBALL    NaN    NaN    NaN   18,7   15,9   28,7   17,5    16,0      31,1   19,8   22,6
7           SSR    NaN    NaN    NaN   0,88   0,68   0,82   0,93    0,80      1,05   0,90   0,97

In [6]:
df2 = df.copy()
df2.index = df2.metrics
df2.drop(columns=['metrics', 'hgbr', 'linreg', 'nn'], inplace=True)
df2.rename(index={'SMAPE (x100)': 'SMAPE_scaled'}, inplace=True)
df2.replace(r'(\d+),(\d+)', r'\1.\2', regex=True, inplace=True)  # convert to floats
df2 = df2.astype(float)
df2

,gp,mvnn,qhgbr,qr,cp_hgbr,cp_linreg,cp_nn,la_nn
metrics,,,,,,,,
MAE,135.70,153.00,146.00,144.50,137.00,212.30,152.50,152.50
RMSE,179.50,197.50,193.40,188.00,182.20,283.40,197.20,197.20
SMAPE_scaled,1.04,1.20,1.13,1.12,1.07,1.68,1.19,1.19
CRPS,96.30,111.20,95.10,103.50,99.20,152.80,108.40,108.20
NLL,6.60,6.97,6.66,6.69,6.68,7.07,6.71,6.70
PINBALL,18.70,15.90,28.70,17.50,16.00,31.10,19.80,22.60
SSR,0.88,0.68,0.82,0.93,0.80,1.05,0.90,0.97

In [31]:
df2

,hgbr,linreg,nn,gp,mvnn,qhgbr,qr,cp_hgbr,cp_linreg,cp_nn,la_nn
metrics,,,,,,,,,,,
MAE,137.00,212.30,152.50,135.70,153.00,146.00,144.50,137.00,212.30,152.50,152.50
RMSE,182.20,283.40,197.20,179.50,197.50,193.40,188.00,182.20,283.40,197.20,197.20
SMAPE_scaled,1.07,1.68,1.19,1.04,1.20,1.13,1.12,1.07,1.68,1.19,1.19
CRPS,NaN,NaN,NaN,96.30,111.20,95.10,103.50,99.20,152.80,108.40,108.20
NLL,NaN,NaN,NaN,6.60,6.97,6.66,6.69,6.68,7.07,6.71,6.70
PINBALL,NaN,NaN,NaN,18.70,15.90,28.70,17.50,16.00,31.10,19.80,22.60
SSR,NaN,NaN,NaN,0.88,0.68,0.82,0.93,0.80,1.05,0.90,0.97